@import 'bourbon';
@import 'neat';
@import 'foundation';

$background: #333;

.body {
	background: $background;
}

//---------------Index----------------//
.recipes {
	@include outer-container();
	text-align: center;
}

.recipe {
	@include span-columns(2);
	
	background: white;
	display: inline-block;
	float: left;
	list-style: none;
	margin: 0 10px;
	box-shadow: 3px 3px	5px black;
	border: 1px solid black;
	color: black;
}
